﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Create Pull Request</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h2>Create New Pull Request</h2>
        <form action="/Panel/application/pullrequest" enctype="multipart/form-data" method="post">
            <input name="appId" value="@ViewBag.appId" hidden/>
            <div class="form-group">
                <label for="filePath">File Path:</label>
                <input name="file" type="file" class="form-control" id="filePath" placeholder="Enter Files" accept=".zip" required>
            </div>          
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>
</html>