﻿
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<div class="col-md-9">
    <h2>Create New Application</h2>
    <form action="/panel/application/Create" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Enter name" required>
        </div>
        <div class="form-group">
            <label for="name">Port:</label>
            <input type="text" name="port" class="form-control" id="port" placeholder="Enter port" required>
        </div>
        <div class="form-group">
            <label for="platform">Platform:</label>
            <select name="platform" class="form-control form-select" id="platform" asp-items="ViewBag.Platforms">
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <span class="text-danger">@ViewBag.Error</span>
    </form>
</div>
