﻿@model ApplicationViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Details</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h2>Application Details</h2>

        <div id="appDetails">
            <div class="card">
                <div class="card-header">
                    <h4>Application Information</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="appName">Name:</label>
                        <input asp-for="Name" type="text" class="form-control" id="appName" readonly>
                    </div>
                    <div class="form-group">
                        <label for="appVersion">Version:</label>
                        <input asp-for="Version" type="text" class="form-control" id="appVersion" readonly>
                    </div>
                    <div class="form-group">
                        <label>Port:</label>
                        <input asp-for="Port" type="text" class="form-control" id="port" readonly>
                    </div>
                    <div class="form-group">
                        <label for="platformId">Platform :</label>
                        <input asp-for="Platform" type="text" class="form-control" id="platform" readonly>
                    </div>                   
                    <div class="form-group">
                        <label for="created">Created:</label>
                        <input asp-for="Created" type="text" class="form-control" id="created" readonly>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <a href="/panel/application/pullRequest/@Model.Id" id="pullRequestButton" class="btn btn-primary">Add Pull Request</a>
            <button id="deleteAppButton" onclick="Delete('@Model.Id')" class="btn btn-danger ml-2">Delete Application</button>
        </div>

        <hr />
        <h2>PullRequests Details</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Deploy</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model.PullRequests)
                {
                    <tr>
                        <td>@request.IsDeployed</td>
                        <td>@request.CreatedTime</td>                      
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Bootstrap JS (optional, if you need JavaScript functionality) -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Application.js" asp-append-version="true"></script>
</body>

</html>
