﻿@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <h1>Create New Platform</h1>

    <form action="Create" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="imgPath">ImagePath:</label>
            <input type="text" id="imgPath" name="imgPath" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Create Platform</button>
    </form>
</div>

