﻿@using CouldBama.EndPoint.Entities;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model List<PlatformDTO>
<div class="container">
    <h2 class="p-2">platforms List</h2>
    <a href="/Admin/Platforms/Create" class="btn btn-outline-success">Create</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>ImagePath</th>
                <th>Tools</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var platform in Model)
            {
                <tr>
                    <td>@platform.Id</td>
                    <td>@platform.Name</td>
                    <td>@platform.ImgPath</td>
                    <td>
                        <button onclick="Delete(@platform.Id)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
            <!-- End of ASP.NET Razor example -->
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/platform.js"></script>
}


