﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Panel</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        /* Add custom CSS styles here */
        body {
            background-color: #f8f9fa;
        }

        .sidebar {
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            height: 100vh;
        }

            .sidebar h2 {
                margin-bottom: 20px;
                color: #333;
            }

        .navbar-nav .nav-item {
            margin-bottom: 10px;
        }

        .content {
            padding: 20px;
        }

            .content h2 {
                margin-bottom: 20px;
            }

        .table {
            background-color: #fff;
        }

        .list-group-item {
            background-color: #fff;
            border: none;
        }

        .badge-primary {
            background-color: #007bff;
        }

        .badge-success {
            background-color: #28a745;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar">
                <h2>User Panel</h2>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/Panel">Applications</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Panel/PullRequests">Pull Requests</a></li>
                    <!-- Add more sidebar links here -->
                </ul>
            </div>
           @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts",false)
</body>
</html>