﻿
@{
    ViewData["Title"] = "SingUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="w-100 p-4 d-flex justify-content-center pb-4">
    <div style="width: 26rem;">
        <!-- Pills navs -->
        <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab-login" data-mdb-toggle="pill" href="/account/login" role="tab" aria-controls="pills-login" aria-selected="true">Login</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab-register" data-mdb-toggle="pill" href="/account/singUp" role="tab" aria-controls="pills-register" aria-selected="false" tabindex="-1">Register</a>
            </li>
        </ul>
        <!-- Pills navs -->
        <!-- Pills content -->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                <form asp-action="singUp" method="post">
                    <!-- Name input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="Name" name="name" class="form-control">
                        <label class="form-label" for="loginName" style="margin-left: 0px;">Name</label>
                        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 115.2px;"></div><div class="form-notch-trailing"></div></div>
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="loginName" name="email" class="form-control">
                        <label class="form-label" for="loginName" style="margin-left: 0px;">Email</label>
                        <span class="text text-danger">@ViewBag.alert</span>
                        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 115.2px;"></div><div class="form-notch-trailing"></div></div>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="loginPassword" name="password" class="form-control">
                        <label class="form-label" for="loginPassword" style="margin-left: 0px;">Password</label>
                        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64px;"></div><div class="form-notch-trailing"></div></div>
                    </div>

                    <!-- 2 column grid layout -->
                    <div class="row mb-4">
                        <div class="col-md-6 d-flex justify-content-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-3 mb-md-0">
                                <input name="rememberMe" class="form-check-input" type="checkbox" value="true" id="loginCheck" checked="">
                                <label class="form-check-label" for="loginCheck"> Remember me </label>
                            </div>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign Up</button>

                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>are you a member? <a href="/account/Login">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
        <!-- Pills content -->
    </div>
</section>
