﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Admin Area</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 70px;
        }

        .sidebar {
            background-color: #f8f9fa;
            height: 100%;
            padding: 20px;
        }

        .content {
            padding: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Admin Area</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar">
                    <ul class="nav flex-column">
                        <li class="nav-item active">
                            <a class="nav-link" href="Users">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Applications">Applications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="PullRequests">PullRequests</a>
                        </li>                     
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="content">
                    <!-- Render your body content here -->
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    
    <!-- Render additional scripts here -->
    <script src="~/js/jquery-3.7.1.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>