﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using CouldBama.EndPoint.Areas.Admin.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model ApplicationAdminViewModel
<div class="container">
    <h2>Application Details</h2>

    <div id="appDetails">
        <div class="card">
            <div class="card-header">
                <h4>Application Information</h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="appName">Name:</label>
                    <input asp-for="Name" type="text" class="form-control" id="appName" readonly>
                </div>
                <div class="form-group">
                    <label for="appName">User:</label>
                    <input asp-for="UserId" type="text" class="form-control" id="appName" readonly>
                </div>             
                <div class="form-group">
                    <label for="appName">IsDeploy:</label>
                    <input asp-for="IsDeploy" type="text" class="form-control" id="appName" readonly>
                </div>
                <div class="form-group">
                    <label for="appVersion">Version:</label>
                    <input asp-for="Version" type="text" class="form-control" id="appVersion" readonly>
                </div>
                <div class="form-group">
                    <label>Port:</label>
                    <input asp-for="Port" type="text" class="form-control" id="port" readonly>
                </div>
                <div class="form-group">
                    <label for="platformId">Platform :</label>
                    <input asp-for="Platform" type="text" class="form-control" id="platform" readonly>
                </div>
                <div class="form-group">
                    <label for="created">Created:</label>
                    <input asp-for="Created" type="text" class="form-control" id="created" readonly>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <h2>PullRequests Details</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Deploy</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model.PullRequests)
            {
                <tr>
                    <td>@request.IsDeployed</td>
                    <td>@request.CreatedTime</td>
                </tr>
            }
        </tbody>
    </table>
</div>