﻿@using CouldBama.EndPoint.Areas.Admin.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model List<ApplicationAdminViewModel>
<div class="container">
    <h2 class="p-2">User List</h2>
    <a href="/Admin/Users/Create" class="btn btn-outline-success">Create</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>IsDeployed</th>
                <th>Version</th>
                <th>Port</th>
                <th>User</th>
                <th>Platform</th>
                <th>CreatedTime</th>
                <th>Tools</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var app in Model)
            {
                <tr>
                    <td>@app.Id</td>
                    <td>@app.Name</td>
                    <td>@app.IsDeploy</td>
                    <td>@app.Version</td>
                    <td>@app.Port</td>
                    <td>@app.UserId</td>
                    <td>@app.Platform</td>
                    <td>@app.Created</td>
                    <td>
                        <button onclick="Delete(@app.Id)" class="btn btn-danger">Delete</button>
                        <button href="/admin/applications/detail/@app.Id" class="btn btn-info">Detail</button>
                    </td>
                </tr>
            }
            <!-- End of ASP.NET Razor example -->
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/Application.js"></script>
}

