﻿@using CouldBama.EndPoint.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
@model List<ApplicationViewModel>
<div class="col-md-9">
    <div class="row">
        <h2 class="" id="applications">اپلیکیشن ها</h2>
        <a href="/Panel/Application/Create" class="btn-success btn m-3">اپلیکیشن جدید</a>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Application Name</th>
                <th>Platform</th>
                <th>Version</th>
                <th>Date</th>
                <th>Tools</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var app in Model)
            {
                <tr onclick="Detail(@app.Id)">
                    <td>@app.Name</td>
                    <td>@app.Platform</td>
                    <td>@app.Version</td>
                    <td>@app.Created</td>
                    <td>
                        <button onclick="Delete('@app.Id')" class="btn btn-outline-danger">Delete</button>
                        <a href="/panel/application/detail/@app.Id" class="btn btn-outline-info">Detail</a>
                        <button class="btn btn-outline-warning">Stop/Start</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/Application.js"></script>
}