﻿@{
    ViewData["Title"] = "PullRequests";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<div class="col-md-9 content">

    <h2 id="pull-requests">درخواست های استقرار</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge badge-primary">Open</span>
            Pull Request #1
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">Merged</span>
            Pull Request #2
        </li>
        <!-- Add more pull request items here -->
    </ul>

</div>