﻿@using CouldBama.EndPoint.Entities;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model List<UserDTO>
<div class="container">
        <h2 class="p-2">User List</h2>
        <a href="/Admin/Users/Create" class="btn btn-outline-success">Create</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Password</th>
                <th>Tools</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Roles</td>
                    <td>@user.Password</td>
                    <td>
                        <button onclick="Delete(@user.Id)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
            <!-- End of ASP.NET Razor example -->
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/User/User.js"></script>
}

